<p class="small text-opacity partial-post-meta">
  <span class="post-date"><time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time> </span> &nbsp; <span class="dot"></span> <span class="post-read"></span> {{t "read"}}
</p>